@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=League+Spartan:wght@100..900&display=swap');
:root {
    --header-height: 4rem;
  
    /*========== Colors ==========*/
    /* Color mode HSL(hue, saturation, lightness) */
    --first-color: hsl(176,88%,27%);
    --first-color-alt: hsl(129,44%,94%);
    --second-color: hsl(34,94%,87%);
    --title-color: hsl(0,0%,13%);
    --text-color: hsl(154,13%,32%);
    --text-color-light: hsl(60,1%,56%);
    --body-color: hsl(0,0%,100%);
    --container-color: hsl(0,0%,93%);
    --border-color: hsl(129,36%,85%);
    --border-color-alt: hsl(113,15%,90%);
  
    /*========== Font and typography ==========*/
    /* .5rem = 8px | 1rem = 16px ... */
    --body-font: "Lato", sans-serif;
    --second-font: "League Spartan", sans-serif;
    --big-font-size:3.5rem ;
    --h1-font-size: 2.75rem;
    --h2-font-size: 2rem;
    --h3-font-size: 1.75rem;
    --h4-font-size: 1.375rem;
    --large-font-size: 1.125rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.75rem;
    --tiny-font-size: 0.6875rem;
  
    /*========== Font weight ==========*/
    --weight-400: 400;
    --weight-500: 500;
    --weight-600: 600;
    --weight-700: 700;
  
    /*========== Transition ==========*/
    --transition: cubic-bezier(0,0,0.05,1);
  }

  @media screen and (max-width: 1200px) {
    :root {
      --big-font-size: ;
      --h1-font-size: ;
      --h2-font-size: ;
      --h3-font-size: ;
      --h4-font-size: ;
      --large-font-size: ;
      --normal-font-size: ;
      --small-font-size: ;
      --smaller-font-size: ;
      --tiny-font-size: ;
    }
  }
  
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  input,
  textarea,
  body{
    color: var(--text-color);
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    font-weight: var(--weight-400);
  }

  body{
    background-color: var(--body-color);
  }

  h1,h2,h3,h4{
    font-family: var(--second-font);
    color: var(--title-color);
    font-weight: var(--weight-600);
  }

  ul{
    list-style: none;
  }

  a{
    text-decoration: none;
  }

  p{
    line-height: 1.5rem;
  }

  img {
    max-width: 100%;
  }

  button,
  textarea,
  input{
    background-color: transparent;
    border: none;
    outline: none;
  }

  .container{
    max-width: 1320px;
    margin-inline :auto ;
    padding-inline: 0.75rem;
  }

  .form_input{
    border: 1px solid var(--border-color-alt);
    padding-inline: 1rem;
    height: 45px;
    border-radius: 0.25rem;
    font-size: var(--small-font-size);
  }

  .header_top{
    background-color: var(--first-color-alt);
    border-bottom: 1px solid var(--first-color);
    padding-block: 0.875rem;
  }

.header_container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header_contact span:first-child{
    margin-right: 2rem;
}

.header_contact span,
.header_alert-new,
.header_top-action{
    font-size: var(--small-font-size);
}

.header_alert-new{
    color: var(--text-color-light);
    font-weight: var(--weight-600);
}

.header_top-action{
    color: var(--text-color);
}
.nav,
.nav_menu,
.nav_list,
.header_user-action{
    display: flex;
    align-items: center;
}

.nav{
    height: calc(var(--header-height) + 2.5rem);
    justify-content: space-between;
}

.nav_logo-img{
    width: 250px;
}

.nav_menu{
    width: 100%;
    margin-left: 2.5rem;
}

.nav_list{
    column-gap: 2.5rem;
    margin-right: auto;
}

.nav_link{
    color: var(--title-color);
    font-weight: var(--weight-700);
    transition: all 0.2s var(--transition);
}

.header_search{
    width: 340px;
    position: relative;
}

.header_search .form_input{
    width: 100%;
}

.search_btn{
    position: absolute;
    top: 24%;
    right: 1.5rem;
    cursor: pointer;
}

.header_user-action {
    column-gap: 1.rem;
}

.header_action-btn{
    position: relative;
    margin-left: 1rem;
}

.header_action-btn img{
    width: 30px;
}

.header_action-btn .count{
    position: absolute;
    top: -0.625rem;
    right: -0.625rem;
    background-color: var(--first-color);
    color: var(--body-color);
    height: 18px;
    width: 18px;
    line-height: 18px;
    border-radius: 50%;
    text-align: center;
    font-size: var(--tiny-font-size);
}
.active-link,
.nav_link:hover{
    color: var(--first-color);
}

.breadcrumb{
    background-color: var(--container-color);
    padding-block: 1.5rem;
  }
  .breadcrumb_list{
    column-gap: .75rem;
    display: flex;
  }
  .breadcrumb_link{
    color: var(--text-color);
    font-size: var(--small-font-size);
  } 

  .form{
    display: grid;
    row-gap: 1rem;
  }
  .form_input{
    width: 90%;
    margin-bottom: 1rem;
  }
  .section--lg{
    margin-top: 3rem;
  }
  .section_title{
    margin-bottom: 1rem;
  }
  .checkout_container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .checkout_group:nth-child(2){
    border: 1px solid var(--border-color-alt);
    padding: 2rem;
    border-radius: 0.5rem;
  }

  .checkout_group .section_title{
    font-size: var(--large-font-size);
  }

  .checkout_title{
    font-size: var(--small-font-size);
  }
  
  .order_table {
    table-layout: fixed;
    margin-top: 2.5rem;
    margin-bottom: 2rem;
    width: 100%;
    border-collapse: collapse; 
  }

  .order_table tr th,
  .order_table tr td{
    border: 1px solid var(--border-color-alt);
    padding: 0.5rem;
    text-align: center;
  }

  .order_table tr th{
    color: var(--title-color);
    font-size: var(--small-font-size);
  }
  
  .order_img{
    width: 80px;
  }

  .table_quantity,
  .order_subtitle{
    font-size: var(--small-font-size);
  }

  .order_grand-total{
    color: var(--first-color);
    font-size: var(--large-font-size);
    font-weight: var(--weight-700);
  }
  .table_title{
    color: var(--first-color);
    font-size: var(--small-font-size);
  }
  .form_input.textarea {
    resize: none; 
    height: 100px; 
    width: 90%; 
    padding: 1rem; 
    border: 1px solid var(--border-color-alt);
    border-radius: 0.5rem;
    font-size: var(--small-font-size);
    box-sizing: border-box; 

  }
  .payment_methods{
    margin-block: 2.5rem 2.75rem;
  }

  .payment_title{
    margin-bottom: 1.5rem;
  }

  .payment_option{
    margin-bottom: 1.5rem;
  }

  .payment_input{
    accent-color: var(--first-color);
  }

  .payment_label{
    font-size: var(--small-font-size);
  }
  .btn{
    display: inline-block;
    background-color: var(--first-color);
    border: 2px solid var(--first-color);
    color: var(--body-color);
    padding-inline: 1.75rem;
    height: 49px;
    line-height: 49px;
    border-radius: 0.25rem;
    font-family: var(--second-font);
    font-size: var(--small-font-size);
    font-weight: var(--weight-700);
    transition: all 0.4s var(--transition);
  
  }
  
  .btn:hover{
    background-color: transparent;
    color: var(--first-color);
  }
  .btn--md,
  .btn-sm{
    font-family: var(--body-font);
  }
  .btn--md{
    height: 45px;
    line-height: 42px;
  }
  .newsletter{
    background-color: hsl(166, 23%, 74%);
    height: 80px;
  }
  
  .home_newletter{
    margin-top: 2rem;
  }
  
  .newsletter_container{
    display: grid;
    grid-template-columns: repeat(2, 3.5fr) 5fr;
    align-items: center;
    column-gap: 3rem;
    line-height: 80px;
  }
  
  .newsletter_title{
    display: flex;
    column-gap: 1rem;
    font-size: var(--large-font-size);
  }
  .newsletter_icon{
    width: 40px;
  }
  
  .newsletter_desciption{
    color: var(--title-color);
    font-family: var(--second-font);
    font-size: var(--small-font-size);
    font-weight: var(--weight-600);
  }
  
  .newsletter_form{
    display: flex;
  }
  
  .newsletter_input,
  .newsletter_btn{
    font-size: var(--small-font-size);
  }
  
  .newsletter_input{
    background-color: var(--body-color);
    padding-inline: 1.25rem;
    width: 100%;
    height: 48px;
    border-radius: 0.25rem 0 0 0.25rem;
  }
  
  .newsletter_btn{
    background-color: var(--title-color);
    color: var(--body-color);
    padding-inline: 2rem;
    border-radius: 0 0.25rem 0.25rem 0;
    font-family: var(--second-font);
    font-weight: var(--weight-500);
    letter-spacing: 0.5px;
    cursor: pointer;
    transition: all 0.3s var(--transition);
  }
  
  .newsletter_btn:hover{
    color: var(--first-color);
  }
  
  .footer_container{
    display: grid;
    grid-template-columns: 4.5fr repeat(2, 2fr) 3.5fr;
    padding-block: 2.5rem;
  }
  
  .footer_subtitle{
    color: var(--text-color-light);
    font-size: var(--small-font-size);
    margin-block: 1.25rem 0.625rem;
  }
  
  .footer_description{
    margin-bottom: 0.25rem;
  }
  
  .footer_logo-img{
    width: 150px;
    margin-bottom: 1rem;
  }
  .footer_description span{
    font-weight: var(--weight-600);
  }
  
  .footer_social .footer_subtitle{
    margin-top: 1.875rem;
  }
  .footer_social-link{
    column-gap: 0.25rem;
  }
  .footer_social-icon{
    width: 30px;
    opacity: 0.7;
  }
  
  .footer_link{
    color: var(--title-color);
    font-size: var(--small-font-size);
    margin-bottom: 1rem;
    display: block;
    transition: all 0.3s var(--transition);
  }
  
  .footer_contact{
    font-size: 20px;
  }
  .footer_title{
    margin-bottom: 1rem;
  }
  
  .footer_bottom{
    display: flex;
    justify-content: space-between;
    padding-block: 1.25rem;
    border-top: 1px solid var(--border-color-alt);
  }
  
  .copyright{
    color: var(--text-color-light);
    font-size: var(--small-font-size);
  }
  
  
  